:root{
	font-size: 20px;
}

body {
  font: 1rem/1.5 "Roboto", sans-serif;
  background: rgb(248,250,252);
  background: linear-gradient(135deg, rgba(248,250,252,1) 0%, rgba(203,203,203,1) 100%);
  }
div {
  box-sizing: border-box;
  padding: 30px 30px;
	width: 80%;
  max-width: 70ch;
	margin: 20px auto 60px;
}
section {
  background-color: white;
  padding: 30px 30px;
	margin: 20px auto 60px;
}
ul {
  padding-left: 0rem;
  list-style: none;
}

li {
  font-weight: 400;
  margin: 0.5rem auto;
	font-size: 1rem;
  text-transform: capitalize;
}

[href] {
  color: rgb(17, 84, 156);
}

[href]:hover,
[href]:focus {
 color: hsl(0, 65%, 51%);
}

h1,
h2 {
  font-weight: 700;
  line-height: 1.15;
  color: rgb(17, 84, 156);
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}


#tutorials{
  font-size: 1.25rem;
  text-transform: uppercase;
}

hr {
  height: 0.25rem;
	margin: .25rem auto;
  border: none;
  background-color: hsl(0, 65%, 51%);
};

