div {
	color: green;
	font-family: sans-serif;
  color: orange;
}
.highlight {
  /* !imporant used here because important being used on a lower level or specificity */
	color: red !important;
}
strong {
  /* !imporant used here because of JavaScript applying a style attribute on the selector */
	color: blue !important;
}

